Source: leterrier-mulot
Section: misc
Priority: extra
Maintainer: Icham Sirat <icham.sirat@ryxeo.com>
Build-Depends: cdbs, libqt5webkit5-dev, qt5-qmake, qtbase5-dev, zlib1g-dev, libexiv2-dev, libvorbis-dev
Standards-Version: 3.8.3
Homepage: http://www.abuledu.org/leterrier/

Package: leterrier-mulot
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${leterrier:Depends}, exiv2, zlib1g
Description: Logiciel d'apprentissage de la souris et de langage
 Ce logiciel fait partie du Terrier d'AbulEdu
