[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[fr]=
Name[fr]=AbulEdu MULOT
Exec=leterrier-mulot
Comment[fr]=Apprentissage souris et langage
Name=AbulEdu MULOT
Comment=Apprentissage souris et langage
Icon=
Categories=Education;
