[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=leterrier-mulot
Name=AbulEdu Mulot
Comment=Apprentissage de la souris et du langage
Icon=/usr/share/leterrier-mulot/leterrier-mulot-256.png
Categories=Education;
