#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/qmake.mk

QMAKE=qmake-qt4 #pour jaunty
QTDIR=/usr
QTPLUGINS=/usr/lib/qt4/plugins
#QMAKE=qmake-qt4 #apres jaunty
CFLAGS=-O3
CXXFLAGS=-O3
DEST=/usr/share/leterrier-mulot
EXECDEST=/usr/lib/leterrier-mulot
BUILDTEMP=$(CURDIR)/debian/leterrier-mulot

MANPAGES := $(CURDIR)/debian/leterrier-mulot.1

install/leterrier-mulot::
	install -d -m 755 $(BUILDTEMP)/usr/bin/
	install -d -m 755 $(BUILDTEMP)/$(EXECDEST)
	install -d -m 755 $(BUILDTEMP)/$(DEST)/data
	install -d -m 755 $(BUILDTEMP)/$(DEST)/conf
	install -d -m 755  $(BUILDTEMP)/usr/share/applications
	install -m 755 $(BUILDTEMP).wrapper $(BUILDTEMP)/usr/bin/leterrier-mulot
	install -m 644 $(CURDIR)/debian/*.desktop $(BUILDTEMP)/usr/share/applications/
	#install -m 644 $(CURDIR)/data/*.abe $(BUILDTEMP)/$(DEST)/data
	install -m 644 $(CURDIR)/exemples/*.abe $(BUILDTEMP)/$(DEST)/data
	install -s -m 755 $(CURDIR)/leterrier-mulot $(BUILDTEMP)/$(EXECDEST)/

#	install -D --mode=0755 $(QTDIR)/lib/libQtCore.so.4 $(CURDIR)/debian/leterrier-mulot/usr/lib/leterrier-mulot
#	install -D --mode=0755 $(QTDIR)/lib/libQtXml.so.4 $(CURDIR)/debian/leterrier-mulot/usr/lib/leterrier-mulot
#	install -D --mode=0755 $(QTDIR)/lib/libQtNetwork.so.4 $(CURDIR)/debian/leterrier-mulot/usr/lib/leterrier-mulot
#	install -D --mode=0755 $(QTDIR)/lib/libQtGui.so.4 $(CURDIR)/debian/leterrier-mulot/usr/lib/leterrier-mulot
#	install -D --mode=0755 $(QTDIR)/lib/libQtScript.so.4 $(CURDIR)/debian/leterrier-mulot/usr/lib/leterrier-mulot
#	install -D --mode=0755 $(QTDIR)/lib/libQtDesigner.so.4 $(CURDIR)/debian/leterrier-mulot/usr/lib/leterrier-mulot
#	install -D --mode=0755 $(QTDIR)/lib/libQtSvg.so.4 $(CURDIR)/debian/leterrier-mulot/usr/lib/leterrier-mulot

	#and plugins (phonon backend, jpeg and co)
#	cp -a $(QTPLUGINS)/imageformats $(BUILDTEMP)/$(EXECDEST)/
#	mkdir -p $(BUILDTEMP)/$(EXECDEST)/phonon_backend

