Source: abuledu-mulot
Section: games
Priority: extra
Maintainer: Eric Seigne <eric.seigne@ryxeo.com>
Build-Depends: debhelper
Standards-Version: 3.6.2.1

Package: abuledu-mulot
Architecture: all
Depends: abuledu-leterrier-common (>=2.2.0)
Description: mulot, apprentissage de l'utilisation de la souris
 Ce logiciel propose aux petits de prendre en main la souris ...
 Contacts : andre.connes@toulouse.iufm.fr et dev@abuledu.org

