#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
#  # Copyright © 2005 Eric Seigne <eric.seigne@ryxeo.com>

DEB=debian/abuledu-mulot
DEST=usr/share/abuledu-mulot
EXECNAME=mulot.tcl
EXECPUBLICNAME=mulot

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_INSTALL_MANPAGES_abuledu-mulot := debian/mulot.1

common-install-indep::
	mkdir -p $(DEB)/$(DEST)
	mkdir -p $(DEB)/usr/bin
	cp -a *.tcl      $(DEB)/$(DEST)/
	cp -a aides      $(DEB)/$(DEST)/
	cp -a images     $(DEB)/$(DEST)/
	cp -a msgs       $(DEB)/$(DEST)/
	cp -a mulot.conf $(DEB)/$(DEST)/
	cp -a pistes     $(DEB)/$(DEST)/
	cp -a reglages   $(DEB)/$(DEST)/
	cp -a sysdata    $(DEB)/$(DEST)/
	#dh_installman debian/mulot.1

	mkdir -p $(DEB)/usr/share/pixmaps
	cp -a abuledu-$(EXECPUBLICNAME).xpm $(DEB)/usr/share/pixmaps

	mkdir -p $(DEB)/usr/share/applications
	cp abuledu-$(EXECPUBLICNAME).desktop $(DEB)/usr/share/applications
	echo "#!/bin/sh" > $(DEB)/usr/bin/$(EXECPUBLICNAME)
	echo "(cd /$(DEST) && ./$(EXECNAME))" >> $(DEB)/usr/bin/$(EXECPUBLICNAME)

	chmod 755 $(DEB)/usr/bin/$(EXECPUBLICNAME)
	chmod -R 755 `find $(DEB)/ -type d`
	chmod -R 644 `find $(DEB)/ -type f`
	chmod -R 755 `find $(DEB)/ -type f -name \*\.tcl`

	chown -R root:root $(DEB)
